.b-header {
  height: 50px;
  background-color: #323f48;
}

.w-dropdown-container {
  display: flex;
  height: 100%;
  max-width: 1025px;
  justify-content: space-between;
  margin: auto;
  align-items: center;
}
